.card {
	background-color: white;
	color: black;
	font-size: 22px;
	padding: 10px;
	position: relative;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
	width: 240px;
	height: 300px;
	scale: 1;
	display: inline-block;
}

.card p {
	position: absolute;
}

.card div p {
	margin-top: 10px;
	margin-bottom: 10px;
	left: 50px;
	bottom: 0;
	width: max-content;
}

.card img {
	position: absolute;
	bottom: 0;
}